@(id: Long, unitForm: Form[Unit])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {

    <h1>Edit unit</h1>

    @form(routes.Units.update(id)) {

        <fieldset>
            @inputText(unitForm("name"), '_label -> "Unit name")
        </fieldset>

        <div class="actions">
            <input type="submit" value="Save this unit" class="btn primary"> or
            <a href="@routes.Units.list()" class="btn">Cancel</a>
        </div>

    }

    @form(routes.Units.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this unit" class="btn danger">
    }

}
