@(deficiencyForm: Form[Deficiency], units: Seq[(String, String)])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {

    <h1>Add a deficiency</h1>

    @form(routes.Deficiencies.save()) {

        <fieldset>

            @inputText(deficiencyForm("title"), '_label -> "Deficiency title")
            @inputText(deficiencyForm("content"), '_label -> "Deficiency content")

            @select(
                deficiencyForm("unit_id"),
                units,
                '_label -> "Unit", '_default -> "-- Choose a Unit --",
                '_showConstraints -> false
            )

        </fieldset>

        <div class="actions">
            <input type="submit" value="Create this deficiency" class="btn primary"> or
            <a href="@routes.Deficiencies.list()" class="btn">Cancel</a>
        </div>

    }

}
