@(locationForm: Form[Location])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {

    <h1>Add a location</h1>

    @form(routes.Locations.save()) {

        <fieldset>
            @inputText(locationForm("name"), '_label -> "Location name")
        </fieldset>

        <div class="actions">
            <input type="submit" value="Create this location" class="btn primary"> or
            <a href="@routes.Locations.list()" class="btn">Cancel</a>
        </div>

    }

}
