@(id: Long, locationForm: Form[Location])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {

    <h1>Edit location</h1>

    @form(routes.Locations.update(id)) {

        <fieldset>

            @inputText(locationForm("name"), '_label -> "Location name")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Save this location" class="btn primary"> or
            <a href="@routes.Locations.list()" class="btn">Cancel</a>
        </div>

    }

    @form(routes.Locations.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this location" class="btn danger">
    }

}
