@(id: Long, companyForm: Form[Company])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {

    <h1>Edit company</h1>

    @form(routes.Companies.update(id)) {

        <fieldset>

            @inputText(companyForm("name"), '_label -> "Companies name")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Save this company" class="btn primary"> or
            <a href="@routes.Companies.index()" class="btn">Cancel</a>
        </div>

    }

    @form(routes.Companies.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this company" class="btn danger">
    }

}
